<div id="search-container">
  <input type="text" id="search-input" placeholder="Entrez un département, une ville ou un code postal">
  <button id="search-button">Rechercher</button>
</div>

<div id="map" style="height: 400px; width: 100%;"></div>
<div id="results-container"></div>

<!-- ... le reste de votre code ... -->