<!-- app/views/spaces/show.html.erb -->

<h1><%= @space.name %></h1>

<div>
  <h2>Calendrier des réservations</h2>
  <%= month_calendar(events: @bookings) do |date, bookings| %>
    <div class="day">
      <% if bookings.any? %>
        <span class="reserved"><%= bookings.map { |b| b.user.email }.join(", ") %></span>
      <% else %>
        <span class="available">Disponible</span>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to 'Réserver cette salle', new_space_booking_path(@space), class: 'btn btn-primary' %>
