<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>
<div class="d-flex justify-content-between">
  <%= button_to "Retour", "#", onclick: "window.history.back(); return false;", class: "btn btn-secondary" %>
</div>
