<!-- app/views/rooms/_photos.html.erb -->

<h3>Photos statiques</h3>
<%= image_tag('salle fetes blanquefort.jpg', alt: 'Photo de la salle') %>

<h3>Photos téléchargées</h3>
<% if @room.persisted? && @room.photos.attached? %>
  <div class="row">
    <% @room.photos.each do |photo| %>
      <div class="col-md-3 text-center">
        <div class="mb-3">
        <%= image_tag 'default_image.png', class: "card-img-top", alt: "Une image par défaut" %>

        </div>
        <%= link_to 'Supprimer', delete_photo_room_path(@room, photo_id: photo.id), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette photo ?' }, class: "btn btn-danger btn-sm" %>
      </div>
    <% end %> <!-- Fin de la boucle each -->
  </div> <!-- Fin de la div.row -->
<% end %> <!-- Fin du if @room.persisted? && @room.photos.attached? -->
