<h1>Modifier la salle</h1>

<!-- Formulaire de modification de la salle -->
<%= render 'form' %>
<%= link_to 'Retour', room_path(@room), class: 'btn btn-secondary' %>
<!-- Affichage des photos principales et supplémentaires de la salle -->
<%= render 'photos', room: @room %>

<!-- Photo statique -->
<h3>Photos statiques</h3>

