 # app/views/rooms/show.html.erb
 <% meta_title @room.name %>
 <% meta_description @room.description.truncate(160) %>
 <% canonical_link room_url(@room) %>
 <% og_tags({
   title: @room.name,
   description: @room.description.truncate(160),
   image: url_for(@room.photos.first),
   url: room_url(@room)
 }) %>
 
 <h1><%= @room.name %></h1>
 <!-- Reste du contenu -->