/* app/assets/stylesheets/calendar.css */

/*
 *= require_self
 *= require calendar
 *= require_tree 
*/



.day {
  padding: 10px;
  margin: 2px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 50px;
  min-height: 50px;
}

.reserved {
  background-color: #dc3545; /* Couleur rouge pour les jours réservés */
  color: white;
}

.available-day {
  background-color: #28a745; /* Couleur verte pour les jours disponibles */
  color: white;
}

.btn-primary {
  background-color: #007bff; /* Couleur bleue pour les boutons sélectionnés */
  color: white;
}

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.calendar-container .day {
  flex: 1 0 14%; /* Pour répartir les jours sur 7 colonnes */
  box-sizing: border-box;
}
