/* app/assets/stylesheets/calendar.css */

/*
 *= require_self
 *= require_tree .
*/

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

.reserved {
  background-color: #dc3545; /* Couleur rouge pour les jours réservés */
  color: white;
}

.calendar-navigation .btn {
  margin-right: 5px;
}

.badge.bg-danger {
  background-color: #dc3545;
  color: #fff;
  padding: 0.4em 0.6em;
  border-radius: 0.25em;
  font-weight: bold;
}

.reserved-date {
  background-color: #dc3545;
  color: white;
  padding: 0.4em;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  text-align: center;
}

.day {
  padding: 10px;
  margin: 2px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 50px;
  min-height: 50px;
}

.btn-primary {
  background-color: #007bff; /* Couleur bleue pour les boutons sélectionnés */
  color: white;
}

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.calendar-container .day {
  flex: 1 0 14%; /* Pour répartir les jours sur 7 colonnes */
  box-sizing: border-box;
}


.past-day {
  background-color: #d3d3d3; /* Gris clair pour les jours passés */
  color: #888; /* Texte gris pour les jours passés */
}

