.btn-primary {
    
    background-color: #ffc107 !important;  /* Utilise !important pour forcer la surcharge */
    border-color: #ffc107 !important; 
    color:#590707 !important /* Assure-toi de changer aussi la couleur de la bordure si nécessaire */
  }
  