<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Devis</title>
  <style>
    /* Ajoutez ici les styles pour vos PDF */
    body { font-family: Arial, sans-serif; }
    h1, h2, p { margin: 0; padding: 10px 0; }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
