<!DOCTYPE html>
<html>
<head>
  <style>
    body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .montant { font-size: 24px; font-weight: bold; }
  </style>
</head>
<body>
  <h1>Devis pour la Réservation</h1>
  <p>Numéro de réservation: <%= @booking.id %></p>
  <p class="montant">Montant: <%= number_to_currency(@booking.total_amount) %></p>
</body>
</html>
<%= link_to "Demander un devis", booking_create_devis_path(@booking, format: :pdf), class: "btn btn-info" %>
